body {
    margin: 0;
    padding: 0;
}

.navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    width: 100%; /* Full width */
}

#homepage {
    background-image: url(../img/background-accueil.jpg);
    background-repeat: no-repeat, repeat;
    width: 100vW;
    height: 100vh;
}
