{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}

<section class="articles">

    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 01/07/2021 à 10:26 dans la catégorie Europe</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores iure accusantium reiciendis unde reprehenderit nobis.</p>
            <p>Itaque quos necessitatibus enim officiis, sunt animi atque asperiores optio, laboriosam ab soluta, odit saepe?</p>
            <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>

    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 01/07/2021 à 10:26 dans la catégorie Europe</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores iure accusantium reiciendis unde reprehenderit nobis.</p>
            <p>Itaque quos necessitatibus enim officiis, sunt animi atque asperiores optio, laboriosam ab soluta, odit saepe?</p>
            <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>

    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 01/07/2021 à 10:26 dans la catégorie Europe</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores iure accusantium reiciendis unde reprehenderit nobis.</p>
            <p>Itaque quos necessitatibus enim officiis, sunt animi atque asperiores optio, laboriosam ab soluta, odit saepe?</p>
            <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>

</section>

{% endblock %}
