{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}

<section class="articles">

    {% for article in articles %}
        <article>
            <h2> {{ article.title }} </h2>
            <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} dans la catégorie Europe</div>
            <div class="content">
                <img src="http://placehold.it/350x150" alt="">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque, saepe perferendis reprehenderit explicabo doloremque quae rem modi? Enim quidem iste eaque dignissimos pariatur animi tempore, assumenda eius! Magnam optio labore ab facilis fuga dignissimos sint facere quasi quos earum consequatur minus in delectus ipsum exercitationem, unde assumenda atque officia consectetur accusamus. Perspiciatis voluptatem ad impedit esse odio quo illum repudiandae?</p>
                <a href="{{ path('blog_show', { 'id': article.id }) }}" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
    {% endfor %}


</section>

{% endblock %}
