{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block body %}

<div class="container">
    <section class="one">
        <h1>First page</h1>
    </section>
    <section class="two">
        <h1>Second page</h1>
    </section>
    <section class="three">
        <h1>Third page</h1>
    </section>
    <section class="four">
        <h1>Fourth page</h1>
    </section>
</div>

{% endblock %}
