{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block body %}

    <section id="homepage">

        <div class="container" >

        <br><br><br><br>

            <h1>Travel blog</h1>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, amet est recusandae dolorem officiis excepturi, provident  repudiandae dicta quam, sequi perspiciatis dolore pariatur. Odit illo id laborum quasi aspernatur placeat possimus illum, ratione    molestiae in totam minus accusamus nihil? Corporis?</p>
        </div>
    
    </section>

{% endblock %}
