{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}


    <h1>Hello {{ user.username }} !</h1>

    <h2> Votre profil</h2>

    <h2> Vos messages</h2>
    
{% endblock %}